{% extends 'base.html %}

{% block content %}
<div class="megacontainer">

    <!-- begin header -->
    <header class="row">
        I am in the header
    </header>
    <!-- end of header -->

    <!-- beginning of central page content -->
    <section class="row">
        I am in the content
    </section>
    <!-- end of central page content -->
    
    <!-- beginning of footer -->
    <footer class="row">
        I am in the footer
    </footer>
    <!-- end of footer -->

</div>
{% endblock content %}