{% extends 'base.html' %}

{% block content %}
<div class="container" id="front-page-content-container">

    <!-- begin first part -->
    <header class="row">
        I am in the first part of the content ABOUT CARS
    </header>
    <!-- end of 1st part -->
    <p></p>
    <!-- beginning of central page content -->
    <section class="row">
        I am in 2nd part of the content ABOUT CARS
    </section>
    <!-- end of central page content -->
    <p></p>
    <!-- beginning of 3rd part -->
    <footer class="row">
        I AM A FOOTER AND HAVE A BUNCH OF LINKS OR SOMETHING
    </footer>
    <!-- end of 3rd part -->

</div>
{% endblock content %}